<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rimi.report.mapper.AdminMapper">
    
    <insert id="add" parameterType="Admin">
		insert into admin_ (admin_name,admin_password) values (#{admin_name},#{admin_password})
	</insert>

	<delete id="delete" parameterType="Admin">
		delete from admin_ where id= #{id}
	</delete>

	<select id="get" parameterType="int" resultType="Admin">
		select * from admin_ where id= #{id}
	</select>

	<update id="update" parameterType="Admin">
		update admin_ set admin_name=#{admin_name},admin_password=#{admin_password},admin_tel=#{admin_tel} where id=#{id}
	</update>
	<select id="list" resultType="Admin">
		select * from admin_
	</select>
    <select id="total" resultType="int">
		select count(*) from admin_
	</select>
    <select id="getByNameandPwd" resultType="Admin">
		select * from admin_ where admin_name = #{admin_name} and admin_password = #{admin_password} 
	</select>
    <select id="getByName" parameterType="string" resultType="Admin">
		select * from admin_ where admin_name= #{0}
	</select>
</mapper>

