<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rimi.report.mapper.ContentMapper">

    <insert id="add">
		insert into content (content,type,date,part_id,classes_id,teacher_id) values (#{content},#{type},#{date},#{part_id},#{classes_id},#{teacher_id})
	</insert>

	<delete id="delete" parameterType="Content">
		delete from content where cid= #{cid}
	</delete>

	<select id="list" resultMap="ContentBean">
		select c.*,p.*,cla.*,t.*
		from content c 
		left join part p on c.part_id = p.pid
		left join classes cla on c.classes_id = cla.classes_id
		left join teacher t on c.teacher_id = t.tid
		<where>
            <if test="type!=null">
                and type like concat('%',#{type},'%')
            </if>   
            <if test="id!=null and id!=0">
                and cid = #{id} 
            </if>  
            <if test="teacher_id!=null and teacher_id!=0">
                and teacher_id = #{teacher_id} 
            </if> 
            <if test="classes_id!=null and classes_id!=0">
                and c.classes_id = #{classes_id} 
            </if> 
            <if test="beginTime!=null and beginTime!='' and endTime!=null and endTime!=''">
            	<![CDATA[ and DATE_FORMAT(date,'%Y-%m-%d') between DATE_FORMAT(#{beginTime},'%Y-%m-%d') and DATE_FORMAT(#{endTime},'%Y-%m-%d')]]>
            	</if>
            	<if test="nextTime!=null and nextTime!=''">
            	<![CDATA[ and DATE_FORMAT(date,'%Y-%m-%d') > DATE_FORMAT(#{nextTime},'%Y-%m-%d')]]>
            	</if>   
            	        
        </where> 
	</select>
    <select id="total" resultType="int">
		select count(*) from content
	</select>  	
	<!-- 多对一关系 -->
	<resultMap type="Content" id="ContentBean">
	<!-- column="id"表示数据库列名，property="id"表示实体对象属性 -->
		<id column="cid" property="cid"/>
		<result column="content" property="content"/>
		<result column="type" property="type"/>
		<result column="date" property="date"/>
		<association property="part" javaType="Part">
			<id column="pid" property="pid"/>
			<result column="part_name" property="part_name"/>		
		</association>
		<association property="classes" javaType="Classes">
			<id column="classes_id" property="classes_id"/>
			<result column="classes" property="classes"/>		
		</association>	
		<association property="teacher" javaType="Teacher">
			<id column="tid" property="tid"/>
			<result column="teacher_name" property="teacher_name"/>	
			<result column="teacher_tel" property="teacher_tel"/>	
		</association>	
	</resultMap>

</mapper>
