<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rimi.report.mapper.HeadMapper">

    <insert id="add" parameterType="head">
		insert into head (head_name,head_password) values (#{head_name},#{head_password})
	</insert>

	<delete id="delete" parameterType="head">
		delete from head where hid= #{hid}
	</delete>

	<select id="get" parameterType="int" resultMap="Headbean">
		select p.*,h.*  from head h left join  part p
		on p.pid = h.part_id
		
		 where hid= #{hid}
	</select>

	<update id="update" parameterType="head">
		update head set head_name=#{head_name},head_password=#{head_password},head_tel=#{head_tel} where hid=#{hid}
	</update>
	<select id="list" resultMap="Headbean">
		select p.*,h.*  from head h left join  part p
		on p.pid = h.part_id
		<where>
            <if test="head_name!=null">
                and head_name like concat('%',#{head_name},'%')
            </if>  
            <if test="head_tel!=null">
                and head_tel like concat('%',#{head_tel},'%')
            </if>
             <if test="part_id!=null and part_id!=0">
                and hid = #{hid}
            </if>     
            <if test="hid!=null and hid!=0">
                and hid = #{hid}
            </if>
        </where> 
	</select>
    <select id="total" resultType="int">
		select count(*) from head
	</select>
    <select id="getByNameandPwd" resultType="head">
		select * from head where head_name= #{head_name} and head_password=#{head_password}
	</select>
    <select id="getByName" parameterType="string" resultType="head">
		select * from head where head_name= #{head_name}
	</select>
	
	
	<!-- 多对一关系 -->
	<resultMap type="Head" id="Headbean">
	<!-- column="id"表示数据库列名，property="id"表示实体对象属性 -->
		<id column="hid" property="hid"/>
		<result column="head_name" property="head_name"/>
		<result column="head_password" property="head_password"/>
		<result column="head_tel" property="head_tel"/>
		<association property="part" javaType="Part">
			<id column="pid" property="pid"/>
			<result column="part_name" property="part_name"/>		
		</association>	
	</resultMap>

</mapper>
