<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rimi.report.mapper.TeacherMapper">
    
    <insert id="add" parameterType="teacher">
		insert into teacher (teacher_name,teacher_password) values (#{teacher_name},#{teacher_password})
	</insert>

	<delete id="delete" parameterType="teacher">
		delete from teacher where tid= #{tid}
	</delete>

	<select id="get" parameterType="int" resultMap="TeacherBean">
		select * from teacher t
		left join part p on t.part_id = p.pid
		left join classes cla on t.classes_id = cla.classes_id
		where tid= #{tid}
	</select>

	<update id="update" parameterType="teacher">
		update teacher set teacher_name=#{teacher_name},teacher_password=#{teacher_password},teacher_tel=#{teacher_tel} where tid=#{tid}
	</update>
	<select id="list" resultMap="TeacherBean">
		select t.*,p.*,cla.*  from teacher t
		left join part p on t.part_id = p.pid
		left join classes cla on t.classes_id = cla.classes_id
		<where>
            <if test="teacher_name!=null">
                and teacher_name like concat('%',#{teacher_name},'%')
            </if>  
            <if test="teacher_tel!=null">
                and teacher_tel like concat('%',#{teacher_tel},'%')
            </if> 
            <if test="tid!=null and tid!=0">
                and tid = #{tid} 
            </if> 
            <if test="part_name!=null">
                and p.part_name like concat('%',#{part_name},'%')
            </if>
            <if test="classes_name!=null">
                and cla.classes like concat('%',#{classes_name},'%')
            </if>
                         
        </where>
		
		
	</select>
    <select id="total" resultType="int">
		select count(*) from teacher
	</select>
    <select id="getByNameandPwd"  resultType="teacher">
		select * from teacher where teacher_name= #{teacher_name} and teacher_password=#{teacher_password}
	</select>
    <select id="getByName" parameterType="string" resultType="teacher">
		select * from teacher where teacher_name= #{teacher_name}
	</select>
	
	<resultMap type="Teacher" id="TeacherBean">
		<id column="tid" property="tid"/>
		<result column="teacher_name" property="teacher_name"/>
		<result column="teacher_password" property="teacher_password"/>
		<result column="teacher_tel" property="teacher_tel"/>
		<association property="part" javaType="Part">
			<id column="pid" property="pid"/>
			<result column="part_name" property="part_name"/>		
		</association>
		<association property="classes" javaType="Classes">
			<id column="classes_id" property="classes_id"/>
			<result column="classes" property="classes"/>		
		</association>
	
	</resultMap>





</mapper>